@import url('https://fonts.googleapis.com/css?family=Lobster|PT+Sans');
body, .tips li span, .tips li em {
  font-family: "PT Sans", "Trebuchet MS", Helvetica, sans-serif;
}
body, .tips li span, .tips li em {
  color: #666;
}
.header h1, .tips h3 strong, .tips li {
  color: #e01d36;
}
.row {
  clear: both;
  display: block;
}

.header h1, .tips li {
  font-family: "Lobster", "PT Sans", Verdana;
  font-style: italic;
}
.header img {
  float: right;
  width: 160px;
  max-width: 100%;
  margin-top: -50px;
}
.tips li {
  font-size: 1.3em;
  line-height: 100%;
  padding-bottom: .8em;
}
.tips li span, .tips li em {
  font-size: .9em;
  font-style: normal;
}
.table thead {
  background: #e01d36;
  color: #fff;
}

/*cliente pediu que sumisse com as dicas devido a queixas dos consumidores*/
.tips {display:none;}
.ingredients {margin-top:20px;}