@import url('https://fonts.googleapis.com/css?family=Lobster|PT+Sans');
body {
  color: #666;
  font-family: "PT Sans", "Trebuchet MS", Helvetica, sans-serif;
}
.header h1, .tips h3 strong {
  color: #e01d36;
}
.row {
  clear: both;
  display: block;
}
.header h1 {
  font-family: "Lobster", "PT Sans", Verdana;
  font-style: italic;
}
.header img {
  float: right;
  width: 160px;
  max-width: 100%;
  margin-top: -50px;
}
.table thead {
  background: #e01d36;
  color: #fff;
}
.ingredients {
  margin-top: 20px;
}